arrow
dj-database-url
celery<5.0
flake8==3.7.3
flake8-bugbear==18.8.0
flake8-isort==2.3
ipdb
isort
mbq.env>=1,<2
mbq.metrics>=1,<2
psycopg2-binary
pytest
pytest-django
rollbar
tox
tox-travis
tox-venv
