arrow
black
celery<5.0
dj-database-url
flake8-isort
flake8==3.7.4
ipdb
isort==4.3.4
ldclient-py>=6,<7
mbq.env>=2,<3
mbq.metrics>=1,<2
mypy-mypyc
psycopg2-binary
pytest!=4.2.0,>=3.6
pytest-django
rollbar
tox
tox-travis
tox-venv
